body{
    background-color: #98f6a9;
}


table {
    background-color: #ff9688;
    margin: 15px;
    font-family:sans-serif;
    font-size: 20px;
  }


   th, td {
    border: 1px solid;
    padding: 8px;
    text-align: left;
  }

  
  th {
    background-color:#fdfd96;
    color: #bf9780;
    text-align: center;
    
  }

h1{
  color: #aedddd(92, 32, 126); 
}

tr:hover {
  background-color:#c7f7f7;
}